body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    gap: 15em;

    display: flex;
    align-items: center;

}

main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    padding: 20px;
}

table {
    border: 1px solid #333;
}

table th {
    border: 1px solid #333;
}

table td {
    border: 1px solid #333;
}
