.tarjetaProducto {
  padding: 2em;
  width: 80%;
  min-height: 80%;

  img {
    max-width: 200px;
    max-height: 200px;
    margin: auto;
  }
}

mat-card-header {
  display: flex;
  justify-content: space-around;
  padding: 2em;
}
