.tarjetaProducto {
  padding: 2em;
  width: 80%;
  min-height: 80%;

  img {
    max-width: 200px;
    max-height: 200px;
    margin: auto;
  }
}

#botones {
  display: flex;
  justify-content: space-evenly;
}

#buttonAnnadir:hover,
#buttonQuitar:hover {
  background-color: rgb(98, 123, 179);
  color: white;
  transition: 0.3s;
}

mat-card-header,
mat-card-content {
  display: flex;
  justify-content: space-around;
  padding: 2em;
}
