<mat-grid-list cols="3" rowHeight="1:1">
  <mat-grid-tile>
    <mat-card class="tarjetaProducto">
      <mat-card-header>
        <mat-card-title>Móvil</mat-card-title>
        <mat-card-subtitle>Precio</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="./assets/imgs/lentejas.jpg"
        alt="Foto del móvil"
      />
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut amet,
          nulla porro in beatae assumenda dignissimos, nobis molestias
          consequuntur, ipsa accusamus cupiditate aut architecto aspernatur qui
          illum sequi iste eum?
        </p>
      </mat-card-content>
      <mat-card-actions id="botones">
        <button id="buttonAnnadir" mat-button>AÑADIR</button>
        <button id="buttonQuitar" mat-button>QUITAR</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
