<mat-grid-list cols="3" rowHeight="1:1">
  <mat-grid-tile>
    <mat-card class="tarjetaProducto">
      <mat-card-header>
        <mat-card-title>Móvil</mat-card-title>
        <mat-card-title>150€</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="./assets/imgs/movil.jpg" alt="Foto del móvil" />
      <mat-card-content>
        <p>Lo vas a usar para todo menos para llamar.</p>
      </mat-card-content>
      <mat-card-actions id="botones">
        <button id="buttonAnnadir" mat-button>AÑADIR</button>
        <button id="buttonQuitar" mat-button>QUITAR</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="tarjetaProducto">
      <mat-card-header>
        <mat-card-title>Tarjeta gráfica</mat-card-title>
        <mat-card-title>500€</mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        src="./assets/imgs/grafica.jpg"
        alt="Foto de gráfica"
      />
      <mat-card-content>
        <p>Va a quedar desfasada en dos meses.</p>
      </mat-card-content>
      <mat-card-actions id="botones">
        <button id="buttonAnnadir" mat-button>AÑADIR</button>
        <button id="buttonQuitar" mat-button>QUITAR</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="tarjetaProducto">
      <mat-card-header>
        <mat-card-title>Ratón</mat-card-title>
        <mat-card-title>20€</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="./assets/imgs/raton.jpg" alt="Foto del ratón" />
      <mat-card-content>
        <p>Uno de hace 15 años funciona igual de bien.</p>
      </mat-card-content>
      <mat-card-actions id="botones">
        <button id="buttonAnnadir" mat-button>AÑADIR</button>
        <button id="buttonQuitar" mat-button>QUITAR</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="tarjetaProducto">
      <mat-card-header>
        <mat-card-title>Teclado</mat-card-title>
        <mat-card-title>80€</mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        src="./assets/imgs/teclado.jpg"
        alt="Foto del teclado"
      />
      <mat-card-content>
        <p>Hace mucho ruido.</p>
      </mat-card-content>
      <mat-card-actions id="botones">
        <button id="buttonAnnadir" mat-button>AÑADIR</button>
        <button id="buttonQuitar" mat-button>QUITAR</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="tarjetaProducto">
      <mat-card-header>
        <mat-card-title>Pantalla</mat-card-title>
        <mat-card-title>15€</mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        src="./assets/imgs/pantalla.jpg"
        alt="Foto de la pantalla"
      />
      <mat-card-content>
        <p>Lleva en el almacén 20 años.</p>
      </mat-card-content>
      <mat-card-actions id="botones">
        <button id="buttonAnnadir" mat-button>AÑADIR</button>
        <button id="buttonQuitar" mat-button>QUITAR</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="tarjetaProducto">
      <mat-card-header>
        <mat-card-title>Móvil</mat-card-title>
        <mat-card-title>200€</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="./assets/imgs/movil.jpg" alt="Foto del móvil" />
      <mat-card-content>
        <p>Es el mismo que el otro pero, por alguna razón es mas caro.</p>
      </mat-card-content>
      <mat-card-actions id="botones">
        <button id="buttonAnnadir" mat-button>AÑADIR</button>
        <button id="buttonQuitar" mat-button>QUITAR</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
