<div id="nombreCliente">
  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Apellidos</mat-label>
    <input matInput />
  </mat-form-field>
</div>
<div id="direccionCliente">
  <mat-form-field>
    <mat-label>Provincia</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Localidad</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Dirección</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Código postal</mat-label>
    <input matInput />
  </mat-form-field>
</div>
<div id="numTelefono">
  <mat-form-field>
    <mat-label>Número de contacto</mat-label>
    <input matInput />
  </mat-form-field>
</div>

<button mat-fab extended color="primary">
  <mat-icon>arrow_forward</mat-icon>
  Enviar
</button>
